In [1]:
import numpy as np
import pandas as pd

In [29]:
df = pd.read_csv("weatherHistory.csv")
df.head()

                  Formatted Date  ...                      Daily Summary
0  2006-04-01 00:00:00.000 +0200  ...  Partly cloudy throughout the day.
1  2006-04-01 01:00:00.000 +0200  ...  Partly cloudy throughout the day.
2  2006-04-01 02:00:00.000 +0200  ...  Partly cloudy throughout the day.
3  2006-04-01 03:00:00.000 +0200  ...  Partly cloudy throughout the day.
4  2006-04-01 04:00:00.000 +0200  ...  Partly cloudy throughout the day.

[5 rows x 12 columns]

In [27]:
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict

In [46]:
df2 = df.select_dtypes(include = ['float64', 'int64']) 
df2

       Temperature (C)  ...  Pressure (millibars)
0             9.472222  ...               1015.13
1             9.355556  ...               1015.63
2             9.377778  ...               1015.94
3             8.288889  ...               1016.41
4             8.755556  ...               1016.51
...                ...  ...                   ...
96448        26.016667  ...               1014.36
96449        24.583333  ...               1015.16
96450        22.038889  ...               1015.66
96451        21.522222  ...               1015.95
96452        20.438889  ...               1016.16

[96453 rows x 8 columns]

In [47]:
X = df2.drop("Temperature (C)", axis = 1)
y = df2["Temperature (C)"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state= 42)

In [48]:
X_train.shape

(77162, 7)

In [49]:
y_train.shape

(77162,)

In [50]:
X_test.shape

(19291, 7)

In [51]:
y_test.shape

(19291,)

In [52]:
training = df.copy()

In [53]:
training.shape

(96453, 12)

In [54]:
import statsmodels.api as sm

In [57]:
lm = sm.OLS(y_train, X_train)

In [58]:
model = lm.fit()
model.summary()

/usr/local/lib/python3.7/dist-packages/statsmodels/regression/linear_model.py:1755: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])
/usr/local/lib/python3.7/dist-packages/statsmodels/base/model.py:1294: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:        Temperature (C)   R-squared (uncentered):                   0.996
Model:                            OLS   Adj. R-squared (uncentered):              0.996
Method:                 Least Squares   F-statistic:                          3.104e+06
Date:                Fri, 11 Jun 2021   Prob (F-statistic):                        0.00
Time:                        11:53:13   Log-Likelihood:                     -1.0808e+05
No. Observations:               77162   AIC:                                  2.162e+05
Df Residuals:                   77156   BIC:                                  2.162e+05
Df Model:                           6
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Apparent Temperature (C)     0.8842      0.000   2163.482      0.000       0.883       0.885
Humidity                    -0.3979      0.020    -20.276      0.000      -0.436      -0.359
Wind Speed (km/h)            0.0924      0.001    178.797      0.000       0.091       0.093
Wind Bearing (degrees)      -0.0002   3.31e-05     -5.020      0.000      -0.000      -0.000
Visibility (km)              0.0229      0.001     25.057      0.000       0.021       0.025
Loud Cover                        0          0        nan        nan           0           0
Pressure (millibars)         0.0014   1.99e-05     70.187      0.000       0.001       0.001
==============================================================================
Omnibus:                     1292.636   Durbin-Watson:                   1.987
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1821.852
Skew:                          -0.207   Prob(JB):                         0.00
Kurtosis:                       3.628   Cond. No.                          inf
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [60]:
model.summary().tables[1]

## scikit-learn model

In [62]:
from sklearn.linear_model import LinearRegression

In [63]:
lm = LinearRegression()
model = lm.fit(X_train, y_train)

In [64]:
model.intercept_

2.831985728894562

In [66]:
model.coef_

array([ 8.72566684e-01, -1.41898621e+00,  7.97670315e-02, -4.04011835e-04,
        8.62917874e-03,  0.00000000e+00, -2.05656529e-04])

In [67]:
df2.head()

   Temperature (C)  Apparent Temperature (C)  ...  Loud Cover  Pressure (millibars)
0         9.472222                  7.388889  ...         0.0               1015.13
1         9.355556                  7.227778  ...         0.0               1015.63
2         9.377778                  9.377778  ...         0.0               1015.94
3         8.288889                  5.944444  ...         0.0               1016.41
4         8.755556                  6.977778  ...         0.0               1016.51

[5 rows x 8 columns]

In [71]:
a_t = df2["Apparent Temperature (C)"].mean()
hm = df2["Humidity"].mean()
wind_speed=df2["Wind Speed (km/h)"].mean()
Wind_Bearing = df2["Wind Bearing (degrees)"].mean()
vsblty = df2["Visibility (km)"].mean()
Loud_Cover = df2["Loud Cover"].mean()
Pressure = df2["Pressure (millibars)"].mean()

In [72]:
yeni_veri = [[a_t], [hm],[wind_speed],[Wind_Bearing],[vsblty],[Loud_Cover],[Pressure]]
yeni_veri = pd.DataFrame(yeni_veri).T

In [75]:
model.predict(yeni_veri)-df2["Temperature (C)"].mean()

array([-0.00222404])

Yukarıda gözlendiği gibi ortalama değerler ile tahmin edildiği zaman çıkan sıcaklık sonucu gerçek olan ortalama sıcaklık değerine çok yakın çıktı

In [77]:
from sklearn.metrics import mean_squared_error, r2_score

In [78]:
rmse = np.sqrt(mean_squared_error(y_train, model.predict(X_train)))

In [79]:
rmse

0.9491983056652127

In [80]:
rmse = np.sqrt(mean_squared_error(y_test, model.predict(X_test)))

In [81]:
rmse

0.9482226363318269

#Model doğrulama

In [100]:
df2.head()

   Temperature (C)  Apparent Temperature (C)  ...  Loud Cover  Pressure (millibars)
0         9.472222                  7.388889  ...         0.0               1015.13
1         9.355556                  7.227778  ...         0.0               1015.63
2         9.377778                  9.377778  ...         0.0               1015.94
3         8.288889                  5.944444  ...         0.0               1016.41
4         8.755556                  6.977778  ...         0.0               1016.51

[5 rows x 8 columns]

In [93]:
X = df2.drop("Temperature (C)", axis = 1)
y = df2["Temperature (C)"]

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size = 0.20, random_state= 50)

lm = LinearRegression()
model = lm.fit(X_train,y_train)

In [91]:
np.sqrt(mean_squared_error(y_train, model.predict(X_train)))

0.9473467315111781

In [101]:
np.sqrt(mean_squared_error(y_test, model.predict(X_test)))

0.9492845163556877

In [94]:
model.score(X_train,y_train)

0.9901087734990959

In [96]:
cross_val_score(model,X,y,cv = 10, scoring="r2").mean()

0.9899159526291929

In [102]:
cross_val_score(model,X_test,y_test,cv = 10, scoring="r2").mean()

0.9901975337199092

In [97]:
cross_val_score(model,X_train,y_train,cv = 10, scoring="r2").mean()

0.9901037781234377

In [99]:
-cross_val_score(model,X_train,y_train,cv = 10, scoring="neg_mean_squared_error").mean()

0.9007290012374515

In [103]:
-cross_val_score(model,X_test,y_test,cv = 10, scoring="neg_mean_squared_error").mean()

0.9016638235464735

Daha doğru olan hatalar cross val değerleridir